/* ================================= 
  Base Element Styles
==================================== */

* {
	box-sizing: border-box;
	font-family: 'Ubuntu', 'Comic Neue', sans-serif, cursive;
	text-align: center;
}

h1 {
	font-size: 35px;
}

h2 {
	font-size: 20px;
}

h3 {
	font-size: 20px;
	font-weight: 400;
}

p {
	font-size: 18px;
}

a {
	text-decoration: none;
}

ul {
	padding-left: 0;
}

li  {
	list-style-type: none;
}

body {
	background-color: #FAFAFA;
}


.main-header h1 {
	text-align: center;
	padding-bottom: 15px;
	font-family: 'Comic Neue';
}

.main-header li {
	padding-bottom: 10px;
}

.main-header a {
	display: block;
	width: 100%;
	color: black;
	font-weight: 700;
	background-color: white;
	padding: 10px;
}

.main-header a:hover {
	background-color: yellow;
}

.profile-image {
	padding-top: 20px;
	display: block;
	margin: 0 auto;
	max-width: 80%;
}

.main-header p {
	margin-top: 30px;
	font-weight: 300;
	color: grey;
	padding-bottom: 50px;
}

.main-content {
	background-color: white;
	padding-top: 40px;
	padding-bottom: 40px;
}

.main-content h2 {
	padding-bottom: 40px;
}

.main-content p {
	font-weight: 300;
}

.main-content img {
	max-width: 90%;
}

.projects {
	padding-bottom: 25px; 
}

.main-contact {
	padding-top: 40px;
	padding-bottom: 40px;
}

.main-contact p {
	font-weight: 300;
	color: grey;
}

.main-contact a {
	color: black;
	font-weight: 700;
}

footer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.main-footer {
	border-top: lightgrey 1px solid;
	padding: 15px 10px;
}

.main-footer p {
	font-weight: 500;
	font-size: 18px;
}

.main-footer li a {
	font-weight: 500;
	color: black;
	font-size: 18px;
	text-transform: uppercase;
}

.large-footer {
	display: none;
}




/* ================================= 
  Media Queries
==================================== */


@media (min-width: 768px) {

.main-header h1 {
	padding-top: 40px;
}

.main-header a {
	font-size: 18px;
	background-color: #FAFAFA;
}

.profile-image {
	max-width: 35%;
}

.nav {
	display: flex;
	justify-content: center;
}

.intro {
	display: flex;
	flex-direction: row-reverse;
	padding: 0 35px;
}

.intro p {
	text-align: left;
	font-size: 20px;
	padding-right: 20px;
}

.projects {
	float: left;
	width: 50%;
}

.projects img {
	max-width: 95%;
}

.main-content {
	padding-top: 80px;
}

.main-content p {
	padding: 0 50px;
	font-size: 16px;
}

.main-content h3 {
	font-size: 22px;
}

.main-contact h2 {
	padding: 40px 0;
	margin-top: 0;
}
.main-contact p {
	font-size: 20px;
	padding: 0 100px;
}

.small-footer {
	display: none;
}

.large-footer {
	display: flex;
}

.large-footer li {
	padding: 0 20px;
}

	/* ---- Float clearfix ---- */

.clearfix::after {
		content: " ";
		display: table;
		clear: both;
}

}


@media (min-width: 1024px) {


body {
	margin: 30px 50px;
}

.desktop {
	display: flex;
	justify-content: space-between;
	align-items: center;

}

.main-header h1 {
	padding-top: 0;
}

.main-header li {
	padding-top: 23.45px;
	padding-bottom: 15px;
}

.intro {
	padding: 0;
}

.projects {
	float: left;
	width: 33%;
}

.main-contact {
}